
<div class="text-center">
    <h1 class="display-4">Soy Fernando</h1>
    <h2>Desarrollador .NET</h2>
    <img ="foto" src="~/imagenes/foto.jfif" />
    <br>

    <div class="row justify-content-center align-content-center bg-primary">
        <div class="col col-md-7 seleccion-bienvenida">
            <h1>Te doy la bienvenida a mi portafolio</h1>
            <p>
                He estado desarrollando software profesionalmente desde el 2016.
            </p>
        </div>
    </div>
</div>